<!DOCTYPE html> 
 <html> 
  <head>
    <link href="../assets/css/styles.css" rel="stylesheet" >
    <title>Ejemplo 1</title> 
     </head> 
      <body> 
       <h1>Bienvenidos a Taller de Programación I</h1> 
        <p>Hoy sólo práctico de configuración</p> 
       <h1 class="Titulo"> BOCA CAMPEON  </h1>
       <h1>El pibe janson Balon dr</h1>

       <div class="contenedor">
         <h2> Ejemplo de div y span </h2> 
         <p class="parrafo">este es otro pararra</p>
         <p> Esto es un párrafo dentro de un div, <span style="color: red;"> y esto un span dentro de un párrafo.</span> </p> 
      </div> 

      </body>  
      </html>  